body{
    font-family: 'roboto';
}

#header{
    height: 80px;
}

#header .logo h1{
    width:335px;
    height: 80px;
    display:block;
    text-indent:-9999px;
    background:url(../img/logo.png) no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0px;
}
#nav-principal{
    height: 80px;
}
#nav-principal ul{
    float: right;
}
#nav-principal ul li a{
    line-height: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    color:black;
}
#banner{
    width: 100%;
    height: 500px;
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#banner .ban-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#banner h3{
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 10px;
}
#banner .ban1{
    margin-bottom: 10px;
}
#banner .ban1 span{
    border:1px solid white;
    padding: 10px;
}
#banner .ban2 span{
    background-color: black;
    padding: 10px;
}
#empresa{
    text-align: center;
}
#empresa h2{
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
}
#empresa h3{
    font-size: 18px;
    margin: 0px;
    padding-bottom: 30px;
}
#empresa .col-text{
    text-align: left;
    padding: 50px;
}
#empresa .col-text .hblue{
    color: #018fad;
    font-weight: italic;
}
#empresa .col-text .hblack{
    color: #222222;
    padding-bottom: 3px;
    border-bottom:2px solid #018fad;
}
#empresa .col-text p{
    color: #222222;
}
#fazemos{
    width: 100%;
    height: 400px;
    background: url(../img/fazemos.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
#fazemos h2{
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
}
#fazemos h3{
    font-size: 18px;
    margin: 0px;
    padding-bottom: 30px;
}
#fazemos .image{
    text-align: center;
    height: 80px;
}
#fazemos .col-text{
    padding: 30px;
    text-align: left;
}
#fazemos .image img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#fazemos .col-text h4{
    margin: 0px;
}
#price{
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}
#price h2{
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
}
#price h3{
    font-size: 18px;
    margin: 0px;
    padding-bottom: 30px;
}
#price .price{
    box-shadow: 1px 2px 2px 2px #888888;
    color: #018fad;
    min-height: 400px;
}
#price .price h3{
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
}
#price .price span{
    font-size: 18px;
    top: -8px;
    position: relative;
}
#price .price h4{
    font-size: 20px;
    margin: 0 auto;
    width: 70%;
    border-image:url('../img/border.png') 30 30 round;
    padding-bottom: 20px;
    padding: 10;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}
#price .price .l1{
    width: 100%;
    background-color: #ececec;
    line-height: 35px;
    text-align: left;
    padding-left: 10px;
    color: #8C8C8C
}
#price .price .l2{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    color: #8C8C8C
}
#price .price-info{
    color: #018FAD;
    font-size: 20px;
    padding: 20px;
}
#skill{
    width: 100%;
    min-height: 400px;
    background-color: #222222;
    text-align: center;
    color: white;
    padding-bottom:20px;
}
#skill h2{
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
}
#skill h3{
    font-size: 18px;
    margin: 0px;
    padding-bottom: 30px;
}
#skill .graphs{
    margin-top:30px;
    display: inline-block;
}
#skill .circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}
#skill .circle  {
    padding-top: 40px;
}
#skill .port{
    padding-top: 60px;
    text-align: left;
    display: inline-block;
}
#skill .port h3{
    font-weight: bold;
    padding: 0px;
}
#skill .port h4{
    font-size: 16px;
}
#skill .port button{
    font-size: 20px;
    margin-top:30px;
}
#contact{
    width: 100%;
    min-height: 400px;
    text-align: center;
    color: black;
    padding-bottom:20px;
}
#contact h2{
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
}
#contact h3{
    font-size: 18px;
    margin: 0px;
    padding-bottom: 30px;
}
#contact .form{
    text-align: left
}
#footer{
    width: 100%;
    background-color: #222222;
    text-align: left;
    color: white;
}
#footer p{
    padding: 10px;
    margin: 0px;
}
